name: Check

on:
  push:

jobs:
  ubuntu:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Run Playwright
        uses: ./
        env:
          TEST_ENV: hello from env
        with:
          options: -e TEST_OPTION='hello from options'
          run: |
            echo hello world
            echo ${TEST_ENV}
            echo ${TEST_OPTION}

  ubuntu-with-version:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

      - name: Run Playwright
        uses: ./
        with:
          version: v1.47.1
          run: |
            echo hello
            echo world
